body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

.header {
    background: lightblue;
    font-weight: bold;
}

tr:nth-child(even) {
  background-color: lightyellow;
}

.navbar {
  display: inline-block;
  width: 110px;
  padding: 10px;
  margin: 0 6px 6px;
  background: green;
  color: white
}